.item-showcase {
    border: none;
    padding: 1rem;

    .item.resource {
        background: $gray-l3;
        padding: 1rem;
        margin-bottom: 3rem;

        &:last-of-type {
            margin-bottom: 0;
        }

        h3 {
            font-size: inherit;
            padding-bottom: 1rem;
        }

        img {
            padding-bottom: 1rem;
        }

        &:not(:only-child) {
            padding: inherit;
            width: inherit;

            h3 {
                font-size: inherit;
                line-height: inherit;
            }

            img {
                max-height: inherit;
            }
        }

        .caption {
            font-size: inherit;
            line-height: inherit;
        }

        h3 + .caption {
            border-top: 1px solid $gray;
            padding-top: 1rem;

        }
    }

    &.large {
        .item.resource {
            max-width: 49%;
            margin-right: 1%;
        }
    }

    &.medium {
        .item.resource {
            max-width: 20rem;
            margin-right: 1rem;
        }
    }

    &.square {
        .item.resource {
            max-width: 20rem;
            margin-right: 1rem;
        }
    }
}
