body.page {
    .blocks>.file {
        border: none;
        padding: 1rem;

        .item.resource {

            &:last-of-type {
                margin-bottom: 0;
            }

            h3 {
                padding-bottom: 1rem;
            }

            .media-render {
                border: none;
                margin-top: 0;

                img {
                    margin-bottom: 0;
                }
            }

        }

        &.medium.right,
        &.medium.left,
        &.medium.center {
            .item.resource {
                max-width: 20rem;
            }
        }

        &.square.right,
        &.square.left,
        &.square.center {
            .item.resource {
                max-width: 20rem;
            }
        }

        &.large.right,
        &.large.left {
            max-width: 50%;
        }
    }
}
