$white: rgb(255 255 255);
$white-warm: rgb(237 232 226);
$gray: rgb(89 89 89);
$gray-l2: rgb(204 204 204);
$gray-l3: rgb(222 222 222);
$gray-l4: rgb(243 243 243);
$gray-warm: rgb(198 182 163);
$black: rgb(0 0 0);
$shadow: rgb(0 0 0 / 50%);
$shadow-dark: rgb(0 0 0 / 70%);
