@import 'colors';

.site-filter-outer {
    align-items: baseline;
    border: none;
    display: flex;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;

    legend {
        float: left;
        font-weight: bold;
    }

    #site-filter {
        float: left;

        button {
            background-color: $white;
            border: 1px solid $gray-l3;
            padding: 1rem;
            font-size: 1.625rem;
            margin-right: 1rem;
            margin-top: 2rem;

            &:first-of-type {
                margin-left: 1rem;
            }

            &:hover,
            &:focus {
                background-color: $black;
                border-color: $black;
                color: $white;
            }

            &.pressed {
                background-color: $gray-l3;
                border-color: $gray-l3;
                color: $black;
            }
        }
    }
}

#site-grid {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;

    .site-wrapper {
        display: inline-block;
        overflow: hidden;
        width: 33%;

        a.site {
            border: 1px solid $gray-l3;
            box-shadow: 0 0 5px $gray-l3;
            color: $black;
            display: flex;
            flex-flow: column;
            font-weight: bold;
            margin: 1rem;
            padding: 1rem;
            text-align: center;
            text-decoration: none;

            img {
                order: -1;
                padding-bottom: 1rem;
            }

            &:focus,
            &:hover {
                background: $gray-l3;
                color: $black;
            }
        }

        &.hidden {
            display: none;
        }
    }
}

// Two across on tablet-sized screens
@media (width <= 800px) {
    #site-grid {
        .site-wrapper {
            width: 50%;
        }
    }
}

// Single column on phones
@media (width <= 400px) {
    #site-grid {
        flex-flow: column;

        .site-wrapper {
            width: 100%;
        }
    }
}
