#navbar-container {
    button {
        &:focus,
        &:hover {
            background-color: $color-menu-accent;
            border-color: $color-menu-accent;
            color: $color-menu-accent-text;
        }
    }

    ul.navigation {
        background: $color-menu-background;
        border-bottom: 2px solid $color-menu-accent;
    }

    ul li {
        a {
            &:focus,
            &:hover {
                background-color: $color-menu-accent;
                color: $color-menu-accent-text;
            }
        }

        ul {
            background-color: $color-menu-background;
        }

        &:hover,
        &:focus {
            background-color: $color-menugroup-background;
        }
    }
}

// Navigation rules for non-mobile
@media only screen and (min-width: $bp-screen-md) {
    body.nav-vertical {
        #navbar-container {
            ul.navigation {
                background: unset;
                border-right: 2px solid $color-menu-accent;
                border-bottom: none;
            }
        }
    }
}
