// Navigation rules for all screens, i.e. mobile-first styles
#navbar-container {
    button {
        border: none;
        background-color: transparent;
        display: inline-block;
        height: 2.5rem;
        margin: 0 5px;
        padding: 5px;
        vertical-align: baseline;
        width: 3rem;

        &::before {
            content: "\ff0b";
        }
    }

    & > nav > button {
        border: 1px solid $gray;
        border-radius: 2px;
        margin: 1rem;

        &::before {
            content: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='18.909px' height='13.091px' viewBox='2.182 6.545 18.909 13.091' enable-background='new 2.182 6.545 18.909 13.091' xml:space='preserve'%3E%3Cpath d='M2.909,6.545h17.454c0.197,0,0.367,0.072,0.512,0.216c0.145,0.144,0.216,0.314,0.216,0.511s-0.071,0.367-0.216,0.511 c-0.145,0.144-0.314,0.216-0.512,0.216H2.909c-0.197,0-0.367-0.072-0.511-0.216C2.254,7.639,2.182,7.469,2.182,7.272 s0.072-0.367,0.216-0.511C2.542,6.617,2.712,6.545,2.909,6.545z M20.363,13.818H2.909c-0.197,0-0.367-0.072-0.511-0.216 s-0.216-0.314-0.216-0.511c0-0.196,0.072-0.367,0.216-0.511s0.314-0.216,0.511-0.216h17.454c0.197,0,0.367,0.072,0.512,0.216 s0.216,0.314,0.216,0.511c0,0.197-0.071,0.367-0.216,0.511S20.561,13.818,20.363,13.818z M20.363,19.636H2.909 c-0.197,0-0.367-0.071-0.511-0.216s-0.216-0.314-0.216-0.511s0.072-0.367,0.216-0.511c0.144-0.145,0.314-0.217,0.511-0.217h17.454 c0.197,0,0.367,0.072,0.512,0.217c0.145,0.144,0.216,0.314,0.216,0.511s-0.071,0.366-0.216,0.511S20.561,19.636,20.363,19.636z'%3E%3C/path%3E%3C/svg%3E");
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: block;
            margin: 0;
            padding: 0;

            a {
                display: inline-block;
                font-size: 1.8rem; // Font size cannot be odd?
                padding: 0.5rem 1rem;
                text-decoration: none;
                width: calc(100% - 4.5rem);

                &:only-child {
                    width: 100%;
                }
            }

            &.active>a {
                font-weight: bold;
            }
        }
    }
}

body.nav-vertical {
    #navbar-container {
        ul.navigation {
            box-shadow: 0 0 5px $shadow;
        }
    }
}

// Navigation rules for non-mobile
@media only screen and (min-width: $bp-screen-md) {
    // Default rules (horizontal menu)
    #navbar-container {
        button {
            &::before {
                content: "\25bc";
            }
        }

        & > nav > button {
            display: none;
        }

        ul {
            li {
                display: inline-block;

                a {
                    width: inherit;
                }

                // Submenu styling (should be the same for both horizontal and
                // vertial menus).
                ul {
                    min-width: 20rem;
                    max-width: 30rem;
                    position: absolute;
                    z-index: 999;

                    li {
                        display: block;

                        button::before {
                            content: "\25b6";
                        }
                    }
                }
            }
        }
    }

    // Alternate rules (vertical menu)
    body.nav-vertical {
        #navbar-container {
            button {
                &::before {
                    content: "\25b6";
                }
            }
    
            ul.navigation {
                box-shadow: unset;
            }

            ul {
                li {
                    display: block;

                    a {
                        width: calc(100% - 4.5rem);

                        &:only-child {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
