ul.navigation.sm-mint {
    li {
        margin-bottom: inherit;

        a {
            border-radius: unset;
            transition: none;

            &.highlighted {
                color: $white;
            }
        }

        ul {
            border-radius: unset;
        }

        &.active {
            >a {
                font-weight: bold;
            }
        }
    }
}
