.search {
    display: flow-root;

    #search-form {
        float: right;

        &.form-horizontal {
            .field-text {
                width: 75%;
            }

            .form-action {
                width: 20%;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .search {
        #search-form {
            float: inherit;

            &.form-horizontal {
                .field-text {
                    min-width: inherit;
                }
            }
        }
    }
}
